/*import url('https://fonts.googleapis.com/css?family=Poppins');*/
@import url("https://fonts.cdnfonts.com/css/allura");

:root {
  --primary300: #fef7e5;
  --primary400: #f7b757;
  --primary500: #ed8453;
  --primary600: #ce6332;
  --accent500: #879a66;
  --accent600: #758558;
  --red400: #fa635c;
  --backgroundLight: #FAF6F1;
  --background: #f4e7da;
  --backgroundDark: #edd5bb;
  --grey900: #3c3b37;
}

body {
  line-height: 2;
  background-color: var(--background);
  color: var(--grey900);
  /*background-image: linear-gradient(180deg, 
  rgba(255, 255, 255, 0.95), 
  rgba(248, 223, 198, 0.95), rgba(249, 183, 111, 0.7))*/
}

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-header-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grey900);
  height: 40px;
}

.logo-header-container h4 {
  font-family: "allura";
  font-size: 40px;
  letter-spacing: 1px;
}

.logo-white {
  color: white;
}

.logo-white h4 {
  font-weight: lighter;
  font-size: 50px;
  font-family: "allura";
  letter-spacing: 1px;
}

.logo-header-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  padding: 15px 20px 0px 30px;
}

.back-link-container {
  display: flex;
  align-items: center;
  margin-right: 75px;
}

.breadcrumbs-link-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.breadcrumb-link {
  text-decoration: none;
  margin-left: 10px;
  color: var(--grey900);
}

.breadcrumb-link:hover {
  color: var(--primary500);
}

.breadcrumb-last-item1 {
  opacity: 0.5;
}

.breadcrumb-last-item2 {
  opacity: 0.5;
  margin-left: 10px;
}

.tag-container {
  min-width: 110px;
  background-color: var(--backgroundLight);
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s linear;
}

.tag-container:hover {
  cursor: pointer;
  background-color: var(--primary400);
}

.tag-container-selected {
  background-color: var(--grey900);
  color: white;
  cursor: pointer;
  min-width: 100px;
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.tag-container-plain {
  min-width: 100px;
  background-color: var(--accent500);
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.pagination-container p {
  font-size: 17px;
}

.pagination-container button {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent500);
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

.pagination-container button:hover {
  cursor: pointer;
  background-color: var(--accent600);
}

.solid-button {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary500);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
}

.solid-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.border-button {
  padding: 15px 20px 15px 20px;
  border: 1px solid var(--primary500);
  border-radius: 5px;
  background-color: white;
  color: var(--primary500);
  font-weight: bold;
  font-size: 18px;
  width: 150px;
}

.border-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.overlay-container {
  display: block;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-content {
  position: relative;
  height: 350px;
  width: 525px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  padding: 0 30px 0 30px;
}

.overlay-content img {
  width: 115px;
  margin-bottom: 20px;
}

.overlay-exit {
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-exit:hover {
  opacity: .75;
  cursor: pointer;
}

.overlay-title {
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  font-size: 25px;
}

.overlay-description {
  text-align: center;
  margin-bottom: 30px;
}

.overlay-buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


footer {
  background-color: var(--grey900);
  min-height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: var(--primary500);
}

.footer-list-container h3 {
  letter-spacing: 1px;
}

.footer-list-container li {
}

footer ul {
  list-style: none;
}

.footer-main-content-container {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 70px;
}

.footer-logo-container {
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo-container p {
  font-size: 18px;
}

.footer-socials-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer-socials-container img {
  width: 30px;
}

.footer-socials-container img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.footer-copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 15px;
}

.link-text {
  color: var(--primary500);
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.not-found-page-container {
  min-height: 90vh;
}

.placeholder-text {
  text-align: center;
  color: darkcyan;
  padding-top: 20px;
}
