/*import url('https://fonts.googleapis.com/css?family=Poppins');*/

:root {
  /* give semantic names based on the usage rather than the color for easier adjustments */
 /* --primary500: #5277A9;
  --primary600: #307197;
  --accent500: #fba644;
  --accent600: #ca5b47;
  --grey300: #f4ebe6;
  --grey400: #dbdbdb;*/

  --primary300: #fef7e5;
  --primary400: #f7b757;
  --primary500: #ed8453;
  --primary600: #ce6332;
  --accent500: #95aa70;
  --backgroundLight: white;
  --background: #f8f6f4;
  --grey900: #2f2e2a;



}

body {
  line-height: 2;
  background-color: var(--background);
}

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-header-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grey900);
}

.logo-header-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  padding: 15px 20px 0px 30px;
  background-color: var(--background);
}

.back-link-container {
 display: flex;
 align-items: center;
 margin-right: 75px;
}

.breadcrumbs-link-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.breadcrumb-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.breadcrumb-link:hover {
  color: var(--primary500);
}



.tag-container {
  min-width: 100px;
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, .2);
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: black;
  /*transition: background-color .2s;*/
  /*box-shadow: 8px 0 8px -6px rgba(0, 0, 0, 0.1),
    -8px 0 8px -6px rgba(0, 0, 0, 0.1), 0 8px 8px -6px rgba(0, 0, 0, 0.1);*/
}

.tag-container:hover {
  cursor: pointer;
  color: black;
  outline: 1.5px solid rgba(0, 0, 0, .2);
}

.tag-container-selected {
  background-color: var(--grey900);
  color: white;
  cursor: pointer;
  min-width: 100px;
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
 
}

.tag-container-plain {
  min-width: 100px;
  background-color: black;
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: white;
}





footer {
  background-color:var(--grey900);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-top: auto;
  letter-spacing: 1px;
  color: white;
}

footer h2 {
  font-weight: lighter;

}

.link-text {
  color: var(--primary500);
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450'); */

/*.personalDetails,
.deliveryAddresses,
.paymentDetails {
  display: flex;
  height: 90vh;
  align-items: center;
  font-size: 3rem;
}

body {
  line-height: 2;
  font-weight: 500;
  background-color: white;
}*/

.placeholder-text {
  text-align: center;
  color: darkcyan;
  padding-top: 20px;
}
