/*import url('https://fonts.googleapis.com/css?family=Poppins');*/

:root {
  /* give semantic names based on the usage rather than the color for easier adjustments */
  --primary500: #549ec9;
  --primary600: #307197;
  --accent500: #ee6c4d;
  --accent600: #ca5b47;
  /*--primary500: #3d5a80;
  --primaryDark: #293241;
  --blue500: #98c1d9;
  --blue200: #e0fbfc; */
  --grey300: #f7f7f7;
  --grey400: #dbdbdb;
}

body {
  line-height: 2;
}

.tag-container {
  min-width: 100px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: black;
  transition: background-color .2s;
  box-shadow: 8px 0 8px -6px rgba(0, 0, 0, 0.1),
    -8px 0 8px -6px rgba(0, 0, 0, 0.1), 0 8px 8px -6px rgba(0, 0, 0, 0.1);
}

.tag-container:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.tag-container-selected {
  background-color: black;
  color: white;
  cursor: pointer;
  min-width: 100px;
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
 
}

.tag-container-plain {
  min-width: 100px;
  background-color: black;
  border-radius: 200px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: white;
}



/*.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/

/*main {
  flex-grow: 1;
}*/

/*#root {
  background-color: pink;
}*/

/*html, body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: blue;
  align-items: center;
}


.main-content {
  flex: 1 0 auto;
  background-color: aqua;
}*/

footer {
  background-color: var(--grey400);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  flex-shrink: 0;
}

.link-text {
  color: var(--primary500);
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450'); */

/*.personalDetails,
.deliveryAddresses,
.paymentDetails {
  display: flex;
  height: 90vh;
  align-items: center;
  font-size: 3rem;
}

body {
  line-height: 2;
  font-weight: 500;
  background-color: white;
}*/

.placeholder-text {
  text-align: center;
  color: darkcyan;
  padding-top: 20px;
}
