.cart_products_container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.suggested_products_container {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.suggested_products_title {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cart_page {
    margin: 50px;
    background-color: var(--grey300);
    padding: 20px;
    border-radius: 10px;
}

.cart_items {
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 300px;
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bill {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
}
  
.bill h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
  
.bill_details {
    display: flex;
    flex-direction: column;
}
  
.bill_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
}
  
.bill_item.total {
    font-weight: bold;
    color: #ED8453;
}


.promo_code {
    margin-top: 20px;
}
  
.promo_code h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
  
.promo_code input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
  
.promo_submit_button {
    display: block;
    width: 100%;
    background: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
  
.promo_submit_button:hover {
    background: #45a049;
}
  
.suggested_products {
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row; 
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
}

.suggested_images  {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}

.product_card {
    max-height: 300px;
    flex: 0 0 auto;
    max-width: 200px;
} 

.note {
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 200px;
    margin-left: 50px;

    width: 120%;
}
  
.note h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
  
textarea[name="enter_request"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 1rem;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-left: 30px;
}

.checkout_button_div {
    margin-left: 1200px;
}

.checkout-button {
    display: block;
    padding: 10px 20px;
    background-color: #ED8453;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
    align-self: flex-end;
}
  
.checkout-button:hover {
    background-color: #f15209;
}  


.cart_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ED8453;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
}
  
.cart_button:hover {
    background-color: #f15209;
}
  
.clear_cart_button {
    background-color: rgb(251, 104, 134);
}
  
.clear_cart_button:hover {
    background-color: rgb(235, 16, 59);
}

.item_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px 0;
}
  
.item_row img {
    height: 70px;
}
  
.item_row .product_info {
    flex-grow: 1;
    padding: 10px;
}
  
.item_row .product_info h3 {
    margin: 0;
}
  
.item_row .quantity_controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.item_row .quantity_controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.item_row .quantity_controls button:hover {
    background-color: var(--background);
}
  
.item_row .price {
    font-weight: bold;
    margin-right: 20px;
}
  
.item_row .remove_button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}  

.item_row .remove_button:hover {
    background-color: var(--background);
}
  
.no-items-message {
    text-align: center;
    font-size: 1.2rem;
    color: #ff0000;
}  