.form-container {
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  text-align: center;
  box-shadow: 0px 0px 30px -10px #cecece;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container input {
  border-radius: 5px;
  border-width: 1px;
  border: solid;
  border-color: rgb(207, 206, 206);
  padding: 5px;
  /*width: 200px;*/
}

.form-container label {
  color: #2f234f;
}

.form-container button {
  width: 30%;
  background-color: #eeecec;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 1.5;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

.server-err {
  padding: 15px;
  font-weight: 400;
  color: black;
  background-color: rgba(253, 210, 210, 0.762);
  border: solid;
  border-color: rgb(255, 70, 107);
}
