/* login form */


.form-page-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.form-container {
  width: 32%;
  margin-top: 75px;
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  background-color: white;
}

.form-header-container {
  text-align: left;
  margin-bottom: 8px;
  font-size: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  padding-left: 10px;
  border-radius: 5px;

}

.input-container input {
  font-size: 1rem;
}

.input-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.input-container:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-input {
  border-style: none;
  width: 100%;
  padding: 15px 15px 15px 10px;
}


.form-input:focus {
  outline-style: none;
}

.form-input::placeholder {
  font-size: 1rem;
}


.forgot-password-container {
  text-align: left;
  margin-bottom: 10px;
  margin-top: -10px;
}

.form-btn {
  margin: auto;
  width: 100%;
  background-color: var(--primary500);
  border: none;
  padding: 13px 15px 13px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;

}

.form-btn:hover {
  background-color: var(--primary600);
}

.form-btn p {
  line-height: 1.5;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}

.form-btn img {
  width: 27px;
}

.signup-name-fields-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-name-container {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0.5px;
}

.last-name-container {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0.5px;

  width: 62%;
}

/* should just add this class instead of reusing all the styles */
.err-field {
  border-color: rgba(222, 135, 135, 0.62);
}


.form-container textarea {
  width: 100%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 1;
  border-radius: 5px !important;
  padding-left: 10px;
  font-size: 1.1rem;

}

.form-container textarea:hover {
  border-color: rgba(0, 0, 0, 0.3) !important; /*its not doing anything purr*/
}

.form-container label {
  color: #2f234f;
}


.err-box {
  padding: 15px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  color: black;
  background-color: rgba(253, 210, 210, 0.762);
  border: solid;
  border-color: rgb(251, 104, 134);
}



