/* login form */
.form-container {
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  margin-bottom: 100px
}

.form-container  form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-header-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  border-radius: 5px;
  border-width: 1px;
  border: solid;
  border-color: rgb(207, 206, 206);
  padding: 15px;
  width: 70%;
}

/* should just add this class instead of reusing all the styles */
.err-field {
  border-color: rgb(239, 120, 120);
}


.form-container textarea {
  width: 50%;
  border-style: solid;
  border-color: #cecece;
  border-radius: 5px;
}

.form-container label {
  color: #2f234f;
}


.login-btn {
  margin: auto;
  width: 70%;
  background-color: #F16851;
  border: none;
  border-radius: 5px;
  padding: 13px 15px 13px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ca5b47;
}

.login-btn p {
  line-height: 1.5;
  font-weight: 700;
  color: white;
  font-size: 0.9rem;
}

.login-btn img {
  width: 25px;
}

.err-box {
  padding: 15px;
  text-align: center;
  margin-left: 18px;
  width: 90%;
  font-weight: 400;
  color: black;
  background-color: rgba(253, 210, 210, 0.762);
  border: solid;
  border-color: rgb(251, 104, 134);
}



/* signup form */
/* need to fix the error allignment */

.signup-form-container {
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  width: 60%;
  height: 400px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  /*text-align: center;*/
  
  /*box-shadow: 0px 0px 30px -10px #cecece;*/
  box-shadow: 0px 0px 10px 1px #bdbcbc;
  margin-bottom: 100px;
}

.signup-form-container form {
  display: flex;
  flex-direction: row;
}

.group-input1 {
  /*background-color: pink;*/
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  padding-right: 0px;
  margin-right: 20px;
  align-items: center;
}

.group-input2 {
    /*background-color: #2f234f;*/
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    padding-left: 0;
    margin-right: 20px;
    align-items: center;
}

.signup-form-container input {
  border-radius: 5px;
  border-width: 1px;
  border: solid;
  border-color: rgb(207, 206, 206);
  padding: 10px;
  width: 70%;
}

.signup-form-container label {
  color: #2f234f;
}

.signup-form-container button {
  width: 30%;
  background-color: #F16851;
  border: none;
  border-radius: 5px;
  padding: 8px;
  line-height: 1.5;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 160px;
}

.signup-form-container button:hover {
  background-color: #ca5b47;
}
