.navbar {
    height: 60px;
    background-color: pink;
    position: relative;
  }

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/* i dont get how this spaced the list items out */
.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }

.nav-elements ul a {
font-size: 16px;
font-weight: 400;
color: #2f234f;
text-decoration: none;
}

.nav-elements ul a.active {
color: #574c4c;
font-weight: 500;
position: relative;
}

/* huh */
.nav-elements ul a.active::after {
content: '';
position: absolute;
bottom: -4px;
left: 0;
width: 100%;
height: 2px;
background-color: #574c4c;
}

  