.product-categories-page-container {
  display: flex;
  background-color: var(--grey300);
  flex-grow: 1;
  padding-bottom: 50px;
}

.product-categories-list-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.product-categories-list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 50px;
}

.product-categories-list li {
  list-style: none;
  cursor: pointer;
}

.category-card-container {
  border-radius: 5px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  outline: 0.5px solid rgba(0, 0, 0, 0.3);
  /*transition: outline 0.3s linear;*/
  transition: box-shadow 0.3s linear;
}

.category-card-container div {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card-container img {
  width: 100%;
  height: 70%;
}

.category-card-container h3 {
  letter-spacing: 1px;
  font-weight: lighter;
}

.category-card-container:hover {
  /*outline: 1.5px solid rgba(0, 0, 0, 0.3);*/
  box-shadow: 8px 0 20px -6px rgba(0, 0, 0, 0.1),
    -8px 0 20px -6px rgba(0, 0, 0, 0.1), 0 8px 20px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-collection-page {
  display: flex;
}

.product-filter-container {
  width: 21%;
  min-height: 100vh;
}

.product-filter-contents {
  text-align: left;
  margin: 25px 20px 0px 25px;
  line-height: 35px;
}

.filter-block-container {
  margin-top: 12px;
}

.filter-block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
}

.filter-header-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-header-chevron:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.product-filter-contents li {
  display: flex;
  gap: 10px;
}




.product-filter-container h4 {
  letter-spacing: 1px;
  font-weight: lighter;
}

.product-list-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-list-container ul {
  list-style: none;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 275px 275px 275px 275px;
  column-gap: 15px;
  row-gap: 35px;
  margin: 0px 20px 0px 20px;
}

.product-card-container {
  border-radius: 5px;
  width: 275px;
  height: 220px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  outline: 0.5px solid rgba(0, 0, 0, 0.3);
  /*transition: outline 0.3s linear;*/
  transition: box-shadow 0.3s linear;
}

.product-card-container:hover {
  box-shadow: 8px 0 20px -6px rgba(0, 0, 0, 0.1),
    -8px 0 20px -6px rgba(0, 0, 0, 0.1), 0 8px 20px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-card-container img {
  width: 80%;
  height: 60%;
}

.product-card-container h4 {
  letter-spacing: 1px;
  font-weight: lighter;
}

.product-card-container span {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-card-container span div {
  border: 1px solid #549ec9;
  height: 40px;
  width: 40px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-container span div:hover {
  opacity: 0.75;
}
