/* recipes */

.recipe-page-container {
  display: flex;
  /*height: 100vh;*/
}

.recipe-categories-list {
  display: flex;
  justify-content: left;
  margin: 30px 50px 0px 50px;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.recipes-list-container {
  width: 100%;
  background-color: #ffffff;
}

.recipes-list-container li {
  list-style: none;
  cursor: pointer;
}

.recipes-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  row-gap: 50px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* recipe card */
.recipe-card-container {
  border-radius: 5px;
  width: 325px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  outline: 0.5px solid rgba(0, 0, 0, 0.3);
  /*transition: outline 0.3s linear;*/
  transition: box-shadow 0.3s linear;
}

.recipe-card-container:hover {
  /*outline: 1.5px solid rgba(0, 0, 0, 0.3);*/
  box-shadow: 8px 0 20px -6px rgba(0, 0, 0, 0.1),
    -8px 0 20px -6px rgba(0, 0, 0, 0.1), 0 8px 20px -6px rgba(0, 0, 0, 0.1);
}

.recipe-images-container {
  position: relative;
  width: 100%;
  height: 65%;
}

.recipe-card-container-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.recipe-heart-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1;
  margin-left: 280px;
  margin-top: 10px;
}

.recipe-card-summary {
  display: flex;
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  justify-content: space-evenly;
  background-color: var(--grey300);
}

.recipe-card-summary span {
  display: flex;
  gap: 1px;
}

.recipe-card-summary img {
  width: 20px;
  margin: auto;
}

.recipe-card-summary p {
  letter-spacing: 1px;
  font-size: 13px;
  margin: auto;
}

.recipe-card-title {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recipe filter (sidebar) */
.recipe-sidebar-container {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 25%;
  text-align: center;
}

/* page displaying a recipe details */

.recipe-info-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey300);
}

.recipe-info-container {
  margin-top: 50px;
  border-top-right-radius: 150px;
  overflow: hidden;
  min-height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.recipe-info-container img {
  height: 100%;
  width: auto;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px 15px 20px 15px;
  row-gap: 15px;
}

.recipe-info ul {
  list-style: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 8px;
  width: 85%;
}

.recipe-info span a {
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.recipe-info span a:hover {
  color: var(--primary500);
}

.ingredients-steps-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  min-height: 600px;
  width: 80%;
  background-color: white;
}

.recipe-ingredients-container {
  width: 30%;
  padding: 20px 20px 0 20px;
  background-color: var(--grey300);
  margin: 30px;
  border-radius: 20px;
}

.recipe-ingredients-container ul {
  list-style: none;
  margin-top: 20px;
}

.recipe-ingredients-container li {
  margin-bottom: 5px;
}

.ingredient-checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.ingredients-btn-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recipe-ingredients-container button {
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  border: 1px solid black;
  background-color: white;
  margin: auto;
  font-weight: bold;
}

.recipe-ingredients-container button:hover {
  background-color: lightgray;
  color: white;
  cursor: pointer;
}

.recipe-steps-container {
  width: 70%;
  padding: 20px 20px 0 20px;
  margin: 20px;
}

.recipe-steps-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.recipe-steps-container p {
  margin-top: 20px;
}

.recipe-nutrition-container {
  overflow: hidden;
  border-bottom-left-radius: 150px;

  margin-top: 50px;
  margin-bottom: 50px;
  height: 430px;
  width: 80%;
  display: flex;
  gap: 30px;
  background-color: white;
}

.nutrition-recipe-image img {
  height: 100%;
  width: auto;
}

.nutrition-values-container {
  margin: auto;
}

.nutrition-values-container span {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 15px;
}

.nutrition-header {
  display: flex;
  align-items: center;
  gap: 15px;
}
