/* recipes */

.recipe-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  flex-grow: 1;
  /*height: 100vh;*/
}

.recipe-categories-list {
  display: flex;
  justify-content: left;
  list-style: none;
  margin: 30px 50px 0px 50px;
  flex-wrap: wrap;
  gap: 15px;
}

.recipes-list-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 120px;
}


.recipes-list-container li {
  list-style: none;
  cursor: pointer;
}

.recipes-list {
  display: grid;
  place-items: center;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 20px;
  row-gap: 100px;
}

/* recipe card */
.recipe-card-container {
  border-radius: 20px;
  width: 250px;
  height: 300px;
  line-height: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  /*transition: outline 0.3s linear;*/
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s linear;
}

.recipe-card-container:hover {
  /*outline: 1.5px solid rgba(0, 0, 0, 0.3);*/
  
  background-color: var(--primary400);
  cursor: pointer;
}

.recipe-card-image-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 190px;
  background-color: #ededed;
  border-radius: 100px;
}


.recipe-card-container-img {
  height: 150px;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.9);
}

.recipe-card-container-img:hover {
  
}

.recipe-card-header {
  position: absolute;
  width: 75%;
  height: 50px;
  bottom: 120px;
}

.recipe-card-header h4 {
  letter-spacing: 1px;
  font-size: 19px;
}

.recipe-card-header-p {
  position: absolute;
  width: 75%;
  top: 187px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
}

.recipe-card-header-p p {
  color: rgba(0, 0, 0, 0.45);
}

.recipe-card-time-diet-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 233px;
}

.recipe-card-detail-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.recipe-detail-left {
  text-align: left;
}

.recipe-detail-right {
  text-align: right;
}

.recipe-card-detail-label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.recipe-card-detail-value {
  font-weight: bold;
  font-size: 15px;
}


/* page displaying a recipe details */

.recipe-info-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.recipe-info-container {
  margin-top: 25px;
  margin-bottom: 30px;
  border-top-right-radius: 150px;
  overflow: hidden;
  min-height: 485px;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-image-container {
  width: 70%;
  height: 430px;
  display: flex;
  justify-content: center;
}

.recipe-info-container img {
  border-radius: 500px;
  box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, 0.6);
}

.recipe-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 15px 20px 15px;
  padding: 0px 50px 0px 50px;;
  width: 100%;
  height: 450px;
  row-gap: 15px;
  border-top-left-radius: 100px;
  background-color: var(--backgroundDark);
  box-shadow: 8px 8px 4px -6px rgba(0, 0, 0, 0.4);
  font-size: 17px;

}

.add-recipe-to-favourites-container {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 100px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: var(--red400);
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: box-shadow .2s linear;
}

.add-recipe-to-favourites-container p {
  font-size: 16.5px;
  font-weight: bold;
  color: white;
}

#recipe-add-el {
  font-family: Arial, Helvetica, sans-serif;
}

.recipe-info-heart-icon-container {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-recipe-to-favourites-container:hover {
  cursor: pointer;
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.3);
  opacity: 0.85;
}

.recipe-info ul {
  list-style: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 8px;
  width: 85%;
}

.recipe-info span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recipe-info span a {
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.recipe-info span a:hover {
  color: var(--primary500);
}

.ingredients-steps-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 600px;
  width: 80%;
  background-color: var(--backgroundDark);
  box-shadow: 8px 8px 4px -6px rgba(0, 0, 0, 0.4);
  font-size: 17px;

}

.recipe-ingredients-container {
  width: 30%;
  padding: 20px 20px 0 20px;
  background-color: var(--background);
  margin: 30px;
  border-radius: 20px;
  
}

.recipe-ingredients-container ul {
  list-style: none;
  margin-top: 20px;
}

.recipe-ingredients-container li {
  margin-bottom: 5px;
}

.recipe-checkbox-container {
  background-image: url(/src/assets/checkboxes/checkbox-regular-36.png);
  background-size: 29px 29px;
  width: 29px;
  height: 29px;
}

.recipe-checkbox-container:hover {
  cursor: pointer;
  background-image: url(/src/assets/checkboxes/checkbox-checked-regular-36.png);
}

.ingredient-checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.ingredients-btn-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.recipe-ingredients-container button {
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  background-color: var(--primary500);
  margin: auto;
  font-weight: bold;
  width: 100%;
  border: none;
  color: white;
  border-radius: 5px;
}

.recipe-ingredients-container button:hover {
  background-color: var(--primary600);
  color: white;
  cursor: pointer;
}

.recipe-steps-container {
  width: 70%;
  padding: 20px 20px 0 20px;
  margin: 20px;
}

.recipe-steps-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.recipe-steps-container p {
  margin-top: 20px;
}

.recipe-nutrition-container {
  background-color: white;
  border-bottom-right-radius: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 480px;
  width: 80%;
  display: flex;
  gap: 50px;
  background-color: var(--background);
  justify-content: space-between;

  
}



.nutrition-recipe-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.nutrition-recipe-image img {
  height: 80%;
  width: auto;
  border-radius: 500px;
  box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, 0.6);

}


.nutrition-values-container {
  flex-grow: 1;
  background-color: var(--backgroundDark);
  box-shadow: 8px 8px 4px -6px rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 100px;
  padding: 20px 50px 20px 50px;
}

.nutrition-values-container span {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  padding: 0px 25px 0px 25px;
}

.nutrition-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nutrition-values-container p {
  color: rgba(0, 0, 0, 0.6);
}