/* Personal details */
.personaldetails {
  background-color: white;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 12px 12px 4px -4px rgba(0, 0, 0, 0.3);
}

.personaldetails h2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}

.inputPersonal {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  margin-bottom: 24px;
}

.inputPersonal label {
  font-size: 18px;
}

.inputPersonal, .buttonPersonal {
  width: 100%;
  padding: 15px 15px 15px 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  border-style: double;
}

.inputPersonal:hover,
.inputPersonal:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

.buttonPersonal {
  background-color: var(--primary500);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.buttonPersonal:hover {
  background-color: var(--primary600);
}

/* Responsive layout */
/*@media (max-width: 600px) {
  .personaldetails {
    width: 90%;
  }
}*/

/* myOrders*/
.my-orders-container {
  min-height: 100vh;
  padding-bottom: 100px;
}

.order-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 12px 12px 4px -4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 350px;
  position: relative;
  margin: 30px 35px 50px 55px;
  width: 53%;
  background-color: var(--backgroundDark);
}

.my-orders-container h1 {
  font-weight: lighter;
  font-size: 28px;
  letter-spacing: .5px;
  margin-bottom: 20px;
  padding-left: 55px;
  margin-top: 30px;
}

.order-card h2 {
  color: #333;
  margin-bottom: 10px;
}

.order-card p {
  margin: 5px 0;
  font-size: larger;
}

.showButton {
  background-color: #ed8453;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.showButton:hover {
  background-color: #ff0000;
}

.ordered-items-window {
  display: none;
  position: absolute;
  top: 0;
  left: calc(100% + 10px);;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-right: 350px;
  border-radius: 8px;
  box-shadow: 12px 12px 4px -4px rgba(0, 0, 0, 0.3);
  background-color: var(--primary300);

}

.ordered-items-window ul {
  margin: 30px 35px 50px 20px;
  list-style:square;
  gap: 30px;
}

.ordered-items-window,
.ordered-items-window:hover {
  display: block;
}

/*Adding Reviews*/
.review-modal {
  position:absolute;
  top: 0;
  left: calc(100% + 10px);
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 12px 12px 4px -4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-right: 350px;
  width: 300px;
}

.review-modal h2 {
  margin-bottom: 10px;
}

.review-modal input,
.review-modal textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.review-modal button {
  background-color: #ed8453;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.review-modal button:hover {
  background-color: #ff0000;
}

/*Reviews Page*/
.reviews-container {
  max-width: 600px;
  margin: 0 auto;
}

.review-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.review-box h2 {
  margin-bottom: 5px;
}

.review-box p {
  margin: 0;
}


/* account navbar */
/* sidebar */



/*.account-placeholder-text {
  text-align: center;
  color: darkcyan;
  padding-top: 20px;
}

/*accountnav*/

/*.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: whitesmoke;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
 display: flex;
 justify-content: start;
 align-items: center;
 padding: 8px 0px 8px 16px;
 list-style: none;
 height: 60px; 
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color:gray ;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #f5f5f5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 10px;
}*/

/*payment details*/

/*.main-content{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 200px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}

.payment {
    background-color: #e9f1ee;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.payment h1 {
    background-color: rgb(236, 240, 229);
    color: rgb(14, 14, 14);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

.input-payment {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    flex-direction: row;
    padding: 5px 0;
}*/