/* account navbar */
/* sidebar */



.account-placeholder-text {
  text-align: center;
  color: darkcyan;
  padding-top: 20px;
}

/*accountnav*/

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: whitesmoke;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
 display: flex;
 justify-content: start;
 align-items: center;
 padding: 8px 0px 8px 16px;
 list-style: none;
 height: 60px; 
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color:gray ;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #f5f5f5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 10px;
}

/*personal details*/
.personaldetails {
  background-color: #e9f1ee;
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.personaldetails h1 {
  background-color: rgb(236, 240, 229);
  color: rgb(14, 14, 14);
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px dotted #333;
}

.input {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  flex-direction: row;
  padding: 5px 0;
}

/*payment details*/

.main-content{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 200px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}

.payment {
    background-color: #e9f1ee;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.payment h1 {
    background-color: rgb(236, 240, 229);
    color: rgb(14, 14, 14);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

.input-payment {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    flex-direction: row;
    padding: 5px 0;
}
