nav {
  background-color: var(--background);
  height: 85px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.simple-navbar {
  display: flex;
  gap: 610px;
  padding-left: 20px;
  height: 100%;
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-link p {
  margin-bottom: 3px;
  font-size: 1.1rem;
}

.main-navbar {
  height: 100%;
}

.main-navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}


.nav-link {
  text-decoration: none;
  color: var(--grey300);
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  gap: 15px;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 1.1rem;
  margin-right: 17px;
}

.nav-link:hover {
  /*text-decoration: underline;*/
  color: var(--primary500);
}

.searchbar-li {
  width: 35%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--backgroundLight);
  outline: none;
  border: .75px solid var(--grey900);

}

.searchbar:hover {
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.3);
}

.searchbar:focus-within {
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.3);
}

.searchbar input {
  width: 100%;
  padding: 15px;
  border-style: none;
  background-color: var(--grey300);
}

.searchbar input::placeholder {
  font-size: 1rem;
}

.searchbar input:focus {
  outline: none;
}

.search-icon-container {
  display: flex;
  align-items: center;
}

.search-icon-container:hover {
  cursor: pointer;
}

.search-clear-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 35px;
  margin: auto;
}

.search-clear-icon-container:hover {
  cursor: pointer;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

.searchbar input {
  font-size: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.navbar-dropdown-outer {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 65px;
  direction: rtl;
  z-index: 5;
}

.navbar-dropdown ul {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  margin-top: 25px;
  width: 220px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  border-radius: 5px;
}

.navbar-dropdown li {
  width: 100%;
  font-size: 1.1rem;
  padding: 12px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  color: var(--grey300);
}

.navbar-dropdown li:last-child {
  border: none;
}

.navbar-dropdown li:hover {
  color: var(--primary500);
  cursor: pointer;
}

.item-disable {
  color: rgba(0, 0, 0, 0.35) !important;
}

.item-disable:hover {
  cursor: auto !important;
}

.heart-icon {
  width: 30px;
  height: 30px;
}

.heart-icon:hover {
  cursor: pointer;
}

/*.theme-icon {
  width: 29px;
  height: 29px;
  background-size: 29px 29px;
  background-image: url(../icons/moon-regular-24.png);
}*/

.theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-icon:hover {
  cursor: pointer;
}

/*.cart-icon {
  width: 31px;
  height: 31px;
  background-image: url(../icons/cart-regular-24.png);
  background-size: 31px 31px;
}*/


.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;;
}


.cart-icon:hover {
  cursor: pointer;
}

.navbar-cart-count {
  background-color: rgba(206, 99, 50, .75);
  color: white;
  font-size: 17px;
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  right: 160px;
  top: 20px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-circle-container {
  width: 45px;
  height: 45px;
}

.profile-image-container {
  border: .75px solid var(--grey900);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--backgroundLight);
}

.profile-image-link {
  text-decoration: none;
  color: var(--grey900);
}
