.product-categories-page-container {
  display: flex;
  background-color: var(--grey300);
  flex-grow: 1;
  padding-bottom: 150px;
}

.product-categories-list-container {
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.product-categories-list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 25px;
  row-gap: 65px;
  place-items: center;
}

.product-categories-list li {
  list-style: none;
  cursor: pointer;
}

.category-card-container {
  width: 285px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundLight);
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear;
}

.category-card-container img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.category-card-header-container {
  margin-top: 20px;
}

.category-card-container h3 {
  font-weight: lighter;
}

.category-card-container:hover {
  box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.product-collection-page {
  display: flex;
  background-color: var(--grey300);
  padding-bottom: 100px;
  min-height: 15vh;
}

.no-search-results-container {  
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.no-search-results-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
}

.no-search-results-text h2 {
  letter-spacing: 0.1rem;
}

.no-search-results-text p {
  font-size: 1.25rem;
}

.no-search-results-products {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.no-search-results-products-header {
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.no-search-results-products ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.product-filter-container {
  min-width: 21%;
  min-height: 100vh;
  margin-top: 20px;
  margin-left: 10px;
  flex-shrink: 0;
}

.product-filter-contents {
  text-align: left;
  margin: 25px 20px 0px 25px;
  line-height: 35px;
}

.filter-block-container {
  margin-top: 12px;
}

.filter-block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.filter-cats-list li:hover {
  cursor: pointer;
}

.filter-header-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-header-chevron:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.product-filter-contents li {
  display: flex;
  gap: 10px;
}

.filter-selected-category-p {
  color: var(--primary500);
}


.product-filter-container h4 {
  letter-spacing: 1px;
  font-weight: lighter;
}

.product-list-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.product-list-container ul {
  list-style: none;
  align-self: flex-start;
  display: grid;
  /*grid-template-columns: 275px 275px 275px 275px;*/
  grid-template-columns: repeat(4, 275px);
  column-gap: 15px;
  row-gap: 60px;
  margin: 0px 20px 0px 20px;
}

@media (max-width: 1500px) {
  .product-list-container ul {
    grid-template-columns: repeat(3, 275px);
  }
}

.product-filter-checkbox-p-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-filter-checkbox-p-container p {
  font-size: 17px;
}


.product-filter-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-filter-checkbox-container:hover {
  cursor: pointer;
}


.product-card-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 275px;
  height: 285px;
  /*background-color: var(--backgroundDark);*/
  background-color: var(--backgroundLight);

  border-radius: 10px;
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s linear;
}


.product-card-container:hover {
  box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.4);

}

.product-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 215px;
}

.product-card-image-container:hover {
  cursor: pointer;
}


.product-card-image-container img {
  width: 75%;
  height: auto;
}

.product-card-title-add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  flex-grow: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card-title-add-container h3 {
  font-weight: lighter;
  line-height: 20px;
}

.product-card-title-add-container h3:hover {
  cursor: pointer;

}

.product-card-add-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary500);
  border-radius: 100px;
  padding: 5px;
}

.product-card-add-icon-container-disabled {
  background-color: var(--primary600);
}

.product-card-add-icon-container:hover {
  cursor: pointer;
  opacity: 0.75;
}

.product-card-add-icon-container-disabled:hover {
  cursor: auto;
}

.product-card-price-quantity-container {
  position: absolute;
  min-width: 45px;
  max-width: 80px;
  left: 205px;
  bottom: 10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.product-card-price-container {
  /*position: relative;
  height: 35px;
  min-width: 35px;
  left: 5px;*/
  display: flex;
  align-items: center;
  gap: 1.5px;
}

.product-card-price-whole {
  font-weight: bold;
  font-size: 22px;
  /*bottom: 0px;
  right: 0%;
  transform: translateX(-30%);*/
}

.product-card-fraction-currency-container {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.product-card-price-fraction {
  font-weight: bold;
  font-size: 12px;
  bottom: 7px;
  left: 20px;
}

.product-card-quantity {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 15px;
  margin-top: 5px;
}

.product-card-discount-tag {
  position: absolute;
  min-width: 90px;
  overflow: hidden;
  background-color: var(--accent500);
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  color: white;
}

.product-card-discount-tag p {
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.product-pagination-container {
  display: flex;
  justify-content: right;
}

.product-info-parent {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.product-info-container{
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0 60px 0px 0px;
  overflow: hidden;
  min-height: 485px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.product-info-quantity {
  color: rgba(0, 0, 0, 0.5);
}

.product-info-title-quantity {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 35px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product-info-title-quantity h1 {
  margin-bottom: 10px;
  letter-spacing: .5px;
  font-size: 34px;
}

.product-info-img-container{
  position: relative;
  width: 15%;
  height: 400px;
  margin: 20px 15px 20px 15px;
  padding:50px;
  /*background-color: white;*/
  border-radius: 20px;
  /*box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);*/
  transition: box-shadow 0.2s linear;
  display: flex;
  justify-content: center;
}

.product-info-price-container {
  position: relative;
  height: 65px;
  min-width: 65px;
  top: -15px;
}


.product-info-price-whole {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  transform: translateX(-65%);
}


.product-info-price-fraction {
  font-weight: bold;
  position: absolute;
  font-size: 17px;
  bottom: 18px;
  left: 25px;
  transform: translateY(10%);
}

.discounted-price-container {
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-left: 20px;
}

.discounted-price {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 75%;
}

.old-price {
  text-decoration: line-through;
}



.popular-product-card-search {

}

.popular-product-card-search:hover, .popular-product-card-search h3:hover {
  cursor: default;
}


.currency-text {
  font-weight: lighter;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}


.product-info-price-button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding-left: 10px;
}


.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 15px 20px 15px;
  padding: 50px;
  width: 50%;
  height: 400px;
  row-gap: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /*background-color: var(--backgroundDark);*/
  /*box-shadow: 8px 8px 4px -6px rgba(0, 0, 0, 0.4);*/
  font-size: 17px;
}

.product-info-add-to-cart-button{
  display: inline-block;
  padding: 10px 20px;
  color:white;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 50px;
  transition: background-color 0.3s;
  width: fit-content;
  justify-content: center;
}

.product-info-button-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  gap: 5px;  
}
/* vendor card stuff */
.market-card-image-container {
  width: 375px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.market-card-image-container img {
  max-width: 55%;
  height: auto;
}



